{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %} Course {% endblock title %}

<!---->

{% block css %} <link rel="stylesheet" href="{% static "course/css/style.css" %}"> {% endblock css %}

<!---->

{% block header %}

<header>
    <h1>Course</h1>
</header>

{% endblock header %}

<!---->
<!---->

{% block content %}

<main>
    <section>
        <img src="{% static "course/images/a.jpg" %}" alt="Image" />

        <h2>Lorem ipsum dolor sit.</h2>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, obcaecati. Obcaecati, illo incidunt quasi eos hic
            nesciunt delectus, quas esse porro praesentium ipsam numquam corrupti tenetur quos? Ducimus, quam ullam!
        </p>
    </section>

    <hr />

    {% comment %} {% include "course/course-list.html" with first="Python" second="React.js" third="Next.js" %} {% endcomment %}
    {% include "course/course-list.html" with first="Python" second="React.js" third="Next.js" only %}
</main>

{% endblock content %}

<!---->

{% block footer %}
<p>All CopyRights &copy; reversed 2024. Arunesh kumar</p>
{% endblock footer %}

<!---->
