{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static "fees/css/style.css" %}">

        <title>Document</title>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <button onclick="demo()">Click Me</button>

        <br />

        <img src="{% static "fees/images/a.jpg" %}" alt="image" />

        <script src="{% static "fees/js/script.js" %}"></script>
    </body>
</html>
