{% extends "base.html" %}

<!---->

{% load static %}

<!---->

{% block title %}Course Fees{% endblock title %}

<!---->

{% block header %}
<header>
    <h1>Course Fees</h1>
</header>
{% endblock header %}

<!---->

{% block content %}
<main>
    <section>
        <img src="{% static "fees/images/a.jpg" %}" alt="images">
        <h2>Lorem ipsum dolor sit.</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad nostrum consequatur nobis eos, dolorum numquam laborum
            tenetur, corrupti aut placeat tempore amet ipsum maiores ea accusamus rem sapiente veniam explicabo!
        </p>
    </section>
</main>
{% endblock content %}

<!---->

{% block footer %}

<p>All CopyRight &copy; reversed 2024</p>

{% endblock footer %}

<!---->
